﻿@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/js/login.js"></script>

<body>
    <div class="formContainer">
        <form id="loginForm" action="@Url.Action("Login")" method="post">
            <div class="form-group">
                <label for="inputLogin">Email address</label>
                <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" name="rememberMe" class="form-check-input" id="rememberMeCheck">
                <label class="form-check-label" for="rememberMeCheck">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div>
        New user? <a href="@Url.Action("RegisterGet")">Sign up</a> for free.
    </div>
</body>
