﻿@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<body>
<div class="formContainer">
    <form id="loginForm" action="@Url.Action("Register")" method="post">
        <div class="form-group">
            <label for="inputLogin">Email address</label>
            <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Login">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
