﻿@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<body>
<div>Oops, something happend. Contact us via <a href="mailto:example@example.com">email</a> and discribe your issue!</div>
</body>
