﻿@{
    ViewData["Title"] = "Currencies";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.1/jsrender.min.js"></script>
<link rel="stylesheet" href="/css/index.css">

<body>
    <div id="alertSuccess" class="alert alert-success" hidden role="alert">
        Success
    </div>
    <div id="alertDanger" class="alert alert-danger" hidden role="alert">
        Something wrong
    </div>
    <div id="currenciesInfoContainer">
        <div class="text-center">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </div>
</body>

<script id="tableTemplate" type="text/x-jsrender">
    {{* if (currenciesInfo) { }}
    <div class="filterContainer input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="filterLabel">Filter</span>
        </div>
        <input type="text" class="filter form-control" placeholder="Example: Bitcoin, Ethereum..." aria-label="Filter" aria-describedby="filterLabel">
    </div>
    <div class="card">
        <div class="card-body">
            Last update: {{:currenciesInfo.status.pretty_date}}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">USD cost</th>
                <th scope="col">1 hour change, %</th>
                <th scope="col">24 hour change, %</th>
                <th scope="col">Fav</th>
            </tr>
        </thead>
        <tbody>
            {{for currenciesInfo.data}}
            <tr class="currencyTableRow">
                <th scope="row"><img class="currencyLogo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{:id}}.png" /></th>
                <td class="nameCell">
                    {{:name}}
                </td>
                <td>
                    {{:symbol}}
                </td>
                <td>
                    {{:quote.USD.price}}
                </td>
                <td>
                    {{:quote.USD.percent_change_1h}}
                </td>
                <td>
                    {{:quote.USD.percent_change_24h}}
                </td>
                <td>
                    {{if (!in_favorites)}}
                    <button class="favButtonAdd btn btn-success" data-id="{{:id}}">Add to fav</button>
                    {{/if}}
                    {{if (in_favorites)}}
                    <button class="favButtonRemove btn btn-danger" data-id="{{:id}}">Remove from fav</button>
                    {{/if}}
                </td>
            </tr>
            {{/for}}
        </tbody>
    </table>
    {{* } }}
</script>

<script id="noData" type="text/x-jsrender">
    <div>Service currently unavailable</div>
</script>