﻿.currencyLogo {
    width: 40px;
    height: 40px;
}

.favButtonAdd {
    height: 40px;
    width: 150px;
}

.favButtonRemove {
    height: 40px;
    width: 150px;
}

.filter {
    width: 216px;
}

.card {
    margin-bottom: 5px;
    margin-left: 2px;
}

table {
    text-align: center;
}

.filterContainer {
    width: 99.7%;
    margin-left: 3px;
}