﻿.authButton {
    position: absolute;
    top: 18px;
    right: 2px;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1) !important;
}

footer {
    text-align: center;
}

.headerContent {
    margin-top: 10px;
    margin-left: 2px; 
    font-size: 32px;
}

.formContainer {
    width: 500px;
    margin-left: 2px;
}