﻿<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<div>
    <header>
        <div class="headerContent">
            <span>
                <span class="badge badge-dark">CryptocurrencyAnalyst</span>
                <span class="badge badge-secondary">@ViewBag.Title</span>
            </span>
            
            @if (ViewBag.Title != "Login")
            {
                @if (!User.Identity.IsAuthenticated)
                 {
                     <button class="authButton btn btn-dark" onclick="location.href='/account/login'">Login</button>
                 }
                 else
                 {
                     <form method="post" action="@Url.Action("Logout", "Account")">
                         <button class="authButton btn btn-dark">Logout</button>
                     </form>
                 }
            }
        </div>
    </header>
    <hr />
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - CryptocurrencyAnalyst</p>
    </footer>
</div>